<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adriano - home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {{> navbar}}
    <h1>Home</h1>
    <p>
      Adriano Celentano is an Italian singer-songwriter, musician, actor and
      film director. He is dubbed "il Molleggiato" because of his dancing.
      Celentano has released many record albums which have enjoyed enormous
      commercial and critical success.
    </p>
  </body>
</html>
