<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adriano - songs</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {{> navbar}}
    <h1>Songs</h1>
    <ul>
      <li>
        <a href="/italian-songs/artists/celentano/azzurro.htm">Azzurro</a>
      </li>
      <li>
        <a href="/italian-songs/artists/celentano/chi-non-lavora.htm"
          >Chi non lavora non fa l'amore</a
        >
      </li>
      <li>
        <a href="/italian-songs/artists/celentano/la-coppia-piu-bella.htm"
          >La coppia più bella del mondo</a
        >
      </li>
      <li>
        <a href="/italian-songs/artists/celentano/prisencolinensinainciusol.htm"
          >Prisencolinensinainciusol</a
        >
      </li>
      <li>
        <a href="/italian-songs/artists/celentano/ragazzo-via-gluck.htm"
          >Il Ragazzo della via Gluck</a
        >
      </li>
      <li>
        <a href="/italian-songs/artists/celentano/yuppi-du.htm">Yuppi Du</a>
      </li>
    </ul>
  </body>
</html>
